{% extends 'base.html.twig' %}
{% block body %}
<h1> à 3$99 </h1>

<div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/475557')}}"><img src="{{('http://127.0.0.1:5500/templates/image/Blockbuster/image15.png') }}" alt="joker"/></a></div>
<div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/299534')}}"><img src="{{('http://127.0.0.1:5500/templates/image/Blockbuster/image6.png') }}" alt="avenger"/></a></div>
<div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/429617')}}"><img src="{{('http://127.0.0.1:5500/templates/image/Blockbuster/image9.png') }}" alt="spiderman"/></a></div>
<div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/68724')}}"><img src="{{('http://127.0.0.1:5500/templates/image/sodle prix/elysium.png') }}" alt="elysuim"/></a></div>




{% endblock %}