{% extends 'base.html.twig' %}
{% block body %}
<h1> à 4$99 </h1>

<div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/719747')}}"><img src="{{('http://127.0.0.1:5500/templates/image/sodle prix/jiraimourir.png') }}" alt="jiraismourir"/></a></div>
<div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/510631')}}"><img src="{{('http://127.0.0.1:5500/templates/image/sodle prix/jumbo.png') }}" alt="jumbo"/></a></div>
<div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/658156')}}"><img src="{{('http://127.0.0.1:5500/templates/image/sodle prix/lucky.png') }}" alt="lucky"/></a></div>
<div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/329805')}}"><img src="{{('http://127.0.0.1:5500/templates/image/solde prix/monroi.png') }}" alt="monroi"/></a></div>




{% endblock %}

