{% extends 'base.html.twig' %}
{% block body %}
<h1> à 7$99 </h1>

<div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/466485')}}"><img src="{{('http://127.0.0.1:5500/templates/image/sodle prix/notorious.png') }}" alt="notorious"/></a></div>
<div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/381719')}}"><img src="{{('http://127.0.0.1:5500/templates/image/solde prix/pierrelapin.png') }}" alt="pierrelapin"/></a></div>
<div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/514847')}}"><img src="{{('http://127.0.0.1:5500/templates/image/solde prix/thehunt.png') }}" alt="thehunt"/></a></div>





{% endblock %}
