{% extends 'base.html.twig' %}
{% block body %}
<h1>page de d'acceuil</h1>



<!DOCTYPE html>
<html>
  <head>
    <link  rel="stylesheet" href="{{ ('http://127.0.0.1:5500/templates/site/nav.css') }}"> 
    <meta charset="utf-8">
    <title>acceuil</title>
  </head>
  <body>
      <div class="fond">



      </div>



      
      <div class="france">
        <div class="titre">Cinéma francais</div> 
        <div class="">
          <center>
            <a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/661935')}}"><div class="slide0"><img src="{{('http://127.0.0.1:5500/templates/image/francais/image3.png') }}" alt="leschosesquondileschosesquonfait" /></div></a>
            <a href="{{ ('http://127.0.0.1:8000/cinema/index.html#movie/77338') }}"><div class="slide0"><img src="{{('http://127.0.0.1:5500/templates/image/francais/image20.png') }}" alt="intouchable" /></div></a>
            <a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/660330')}}"><div class="slide0"><img src="{{('http://127.0.0.1:5500/templates/image/francais/image2.png') }}" alt="police" /></div></a>
            <a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/679989')}}"><div class="slide0"><img src="{{('http://127.0.0.1:5500/templates/image/francais/image19.png') }}" alt="toutsimplementnoir" /></div></a>
            <a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/598049')}}"><div class="slide0"><img src="{{('http://127.0.0.1:5500/templates/image/francais/image18.png') }}" alt="lebonheurdesuns" /></div></a>
            <a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/2899')}}"><div class="slide0"><img src="{{('http://127.0.0.1:5500/templates/image/francais/image17.png') }}" alt="missioncleopatre" /></div></a> 
          </center>
        </div>
      </div>

      
      <div class="manquer">
        <div class="titre">A ne pas manquer</div> 
        <div class="">
          <center>
            <div class="slide0"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/575463')}}"><img src="{{('http://127.0.0.1:5500/templates/image/a ne pas manquer/image0.png') }}" alt="ladaronne"/></a></div>
            <div class="slide0"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/577922')}}"><img src="{{('http://127.0.0.1:5500/templates/image/a ne pas manquer/image1.png') }}" alt="tenet"/></a></div>
            <div class="slide0"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/449924')}}"><img src="{{('http://127.0.0.1:5500/templates/image/a ne pas manquer/image4.png') }}" alt="ipman4"/></a></div>
            <div class="slide0"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/530915')}}"><img src="{{('http://127.0.0.1:5500/templates/image/a ne pas manquer/image12.png') }}" alt="1917"/></a></div>
            <div class="slide0"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/424694')}}"><img src="{{('http://127.0.0.1:5500/templates/image/a ne pas manquer/image13.png') }}" alt="bohemianrhaspsody"/></a></div>
            <div class="slide0"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/337167')}}"><img src="{{('http://127.0.0.1:5500/templates/image/a ne pas manquer/image14.png') }}" alt="cinquantenuancesclaires"/></a></div>
          </center>
        </div>
      </div>

      <div class="categorie">
        <div class="titre">catégorie</div> 
        <div class="">
          <center>
            <div class="slide1"><a href="{{('')}}"><img src="{{('http://127.0.0.1:5500/templates/image/categorie/actionaventure.png') }}" /></a></div>
            <div class="slide1"><a href="{{('')}}"><img src="{{('http://127.0.0.1:5500/templates/image/categorie/categorie0.png') }}" /></a></div>
            <div class="slide1"><a href="{{('')}}"><img src="{{('http://127.0.0.1:5500/templates/image/categorie/documentaire.png') }}" /></a></div>
            <div class="slide1"><a href="{{('')}}"><img src="{{('http://127.0.0.1:5500/templates/image/categorie/fantastiquesciencefiction.png') }}" /></a></div>
            <div class="slide1"><a href="{{('')}}"><img src="{{('http://127.0.0.1:5500/templates/image/categorie/horreur.png') }}" /></a></div>
          </center>
        </div>
      </div>

      <div class="culte">
        <div class="titre">Culte</div> 
        <div class="">
          <center>
            <div class="slide2"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/330457')}}"><img src="{{('http://127.0.0.1:5500/templates/image/culte/image10.png') }}" alt="lareinedesneiges2"/></a></div>
            <div class="slide2"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/420818')}}"><img src="{{('http://127.0.0.1:5500/templates/image/culte/image11.png') }}" alt="leroilion"/></a></div>
            <div class="slide2"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/597')}}"><img src="{{('http://127.0.0.1:5500/templates/image/culte/image16.png') }}" alt="titanic"/></a></div>
            <div class="slide2"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/332562')}}"><img src="{{('http://127.0.0.1:5500/templates/image/culte/image7.png') }}" alt="astarisborn"/></a></div>
            <div class="slide2"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/3082')}}"><img src="{{('http://127.0.0.1:5500/templates/image/culte/image22.png') }}" alt="lestempsmodernes"/></a></div>
          </center>
        </div>
      </div>

      <div class="prix">
        <div class="titre">Solde</div> 
        <div class="">
          <center>
            <div class="slide3"><a href="{{path('3')}}"><img src="{{('http://127.0.0.1:5500/templates/image/solde prix/prix0.jpg') }}" /></a></div>
            <div class="slide3"><a href="{{path('4')}}"><img src="{{('http://127.0.0.1:5500/templates/image/solde prix/prix1.jpg') }}" /></a></div>
            <div class="slide3"><a href="{{path('7')}}"><img src="{{('http://127.0.0.1:5500/templates/image/solde prix/prix2.jpg') }}" /></a></div>
          </center>
        </div>
      </div>

      <div class="blockbuster">
        <div class="titre">Blockbuster</div> 
        <div class="">
          <center>
            <div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/475557')}}"><img src="{{('http://127.0.0.1:5500/templates/image/Blockbuster/image15.png') }}" alt="joker"/></a></div>
            <div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/454626')}}"><img src="{{('http://127.0.0.1:5500/templates/image/Blockbuster/image5.png') }}" alt="soniclefilm"/></a></div>
            <div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/299534')}}"><img src="{{('http://127.0.0.1:5500/templates/image/Blockbuster/image6.png') }}" alt="avengersendgame"/></a></div>
            <div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/384018')}}"><img src="{{('http://127.0.0.1:5500/templates/image/Blockbuster/image8.png') }}" alt="fast&furioshobandshaw"/></a></div>
            <div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/429617')}}"><img src="{{('http://127.0.0.1:5500/templates/image/Blockbuster/image9.png') }}" alt="spidermanfarfromhome"/></a></div>
            <div class="slide4"><a href="{{('http://127.0.0.1:8000/cinema/index.html#movie/359724')}}"><img src="{{('http://127.0.0.1:5500/templates/image/Blockbuster/image23.png') }}" alt="lemans66"/></a></div>
          </center>
        </div>
      </div>



  </body>
</html>
{% endblock %}

