{% extends 'base.html.twig' %}
{% block body %}
<h1>Qui sommes nous ?</h1>
<h2>présentation du site</h2>
<p>Il s’agit d’un site e-Commerce de vente de film, qui permet d'acheter des films dématérialisé en plusieurs langues
différentes (Français, Anglais, Espagnol, etc...) si il est disponible, ainsi  de choisir sa résolution (HD , Full Hd , 2K 4k) et le choix de la qualité audio ( classic, 8D audio son spatial à 360 degré  , 9D audio , dolby atmos ..).
Le site pourra vous fournir certains privilèges (petit chanceux) qui vous permettrons parmis tant d'autres, par exemple
pouvoir précommandé un film pour l'avoir dès le jour de sa sortie.
</p>
<h2> Site Réalisé par : </h2>
<img src="{{('http://127.0.0.1:5500/templates/image/moi.jpg') }}"/>
<p> JUDÉAUX Idryss étudiant en B2 informatique à Ynov campus.<img src="{{('http://127.0.0.1:5500/templates/image/ynov.jpg') }}"/></p>
<p> identifiant discord : idryss judéaux#0348 <img src="{{('http://127.0.0.1:5500/templates/image/discord.png') }}" /></p>
<img src="{{('http://127.0.0.1:5500/templates/image/lui.png') }}"/>
<p> FERREIRA SILVA Hugo étudiant en B2 informatique à Ynov campus.<img src="{{('http://127.0.0.1:5500/templates/image/ynov.jpg') }}"/></p>
<p> identifiant discord : Hugo Ferreira Silva#0188 <img src="{{('http://127.0.0.1:5500/templates/image/discord.png') }}" /></p>

<h3> Twitter du site : </h3>
<a href = "https://twitter.com/PopcornYnov">https://twitter.com/popcorn_ynov</a>

<h3>Les technologies utilisés : </h3>
    <img src="{{('http://127.0.0.1:5500/templates/image/api.png') }}" />
    <img src="{{('http://127.0.0.1:5500/templates/image/triplecode.png') }}" />
    <img src="{{('http://127.0.0.1:5500/templates/image/twig.jpg') }}" />
    <img src="{{('http://127.0.0.1:5500/templates/image/movie.png') }}" />
    <img src="{{('http://127.0.0.1:5500/templates/image/symfony.png') }}" />

<h3>Le fameux systeme de prestige.</h3>
<p>Plus votre rang est élevé plus vos benifirez davantage conséquents telle qu'une réduction sur des films possibilité d'achat en avant-première en fonction du stock réduction de prix sur la résolution d'un film 2k, 4k... et bien encore.</p>
<p>Le meilleur moyen de monter en GRADE est bien entendu de consommer nos films les clients les plus fidèles seront récompensés bon visionnage :D</p>
    <img src="{{('http://127.0.0.1:5500/templates/image/grade.PNG') }}" />


<h3>Image représentant la base de donnée du site.</h3>
    <img src="{{('http://127.0.0.1:5500/templates/image/bdd popcorn.PNG') }}" />

<h3>Et enfin les futurs UPGRADES.</h3>
<p>Car oui nous espérons poursuivre cette aventure tel un pokémon jusqu'à notre évolution finale en ajoutant le système de PANIER la possibilité de personnaliser la qualité audio et visuel du film lors de son achat et un systeme de recherche plus affiné avec des CATEGORIE.</p>
    <img src="{{('http://127.0.0.1:5500/templates/image/categoriie.PNG') }}" />

{% endblock %}